@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;700&display=swap");

:root {
  --main-color: rgb(223, 221, 221);
  --border-color: rgba(175, 171, 171, 0.4);
  --text-color: rgb(32, 31, 31);
}

.App {
  text-align: center;
  height: 100vh;
  background-color: rgb(223, 221, 221);
  font-family: "Raleway", sans-serif;
}
